:root {
  --main-color: #06a1da;
  /*--main-color: #1c8fc7;*/
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #111;
  font-family: Saira Extra Condensed, Roboto, Helvetica Neue, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  width: 100%;  
}