@import '../../../../styles/base.css';

.container {
    margin-top: 100px;
}

.container_next_events{
    margin: 0 auto;
    margin-bottom: 80px;
    @media (min-width: 1025px){
        padding: 0;
        max-width: 1025px;
    }
    .title_container {
        padding-left: 0;
        margin: 30px 0;
        @media (min-width: 769px){
            padding-left: 20px;
        }
        @media (min-width: 1025px){
            padding-left: 0;
        }
    }
}

.container_last_events{
    padding: 0 10px;
    margin: 0 auto;
    @media (min-width: 426px){
        padding: 0 20px;
    }
    @media (min-width: 1025px){
        padding: 0;
        max-width: 1024px;
    }
    .title_container {
        margin: 30px 0;
    }
}

.title{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--main-color);
    @media (min-width: 426px){
        font-size: 45px;
    }
    @media (min-width: 769px){
        font-size: 60px;
        text-align: left;
    }
}