@import '../../../../styles/base.css';

.container {
    padding-top: 156px;
}

.container_next_events {
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 0 10px;
    @media (min-width: 1024px){
        padding: 0;
        max-width: 1024px;
    }
    .title {
        color: var(--main-color);
    }
}

.container_last_events {
    padding: 0 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    @media (min-width: 1024px){
        padding: 0;
        max-width: 1024px;
    }
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    @media (min-width: 1024px){
        justify-content: left;
    }
}