.container {
    margin-top: 56px;
}

.container_full_screen {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
    min-height: calc(100vh - 56px);
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    video { 
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    .container_play {
        display: flex;
        justify-content: center;
        align-items: center;
        .iconPlay {
            position: absolute;
            z-index: 5;
            height: 120px;
            width: 120px;
            top: calc(50vh - 110px);
            opacity: 0.5;
            @media (min-width: 769px){
                display: none;
            }
        }
        .iconExpand {
            position: absolute;
            z-index: 5;
            height: 15px;
            width: 15px;
            top: calc(87vh - 110px);
            opacity: 0.5;
            display: none;
            &.active {
                display: block;
            }
            @media (min-width: 769px){
                display: none;
            }
        }
        .iconExpand_second {
            position: absolute;
            z-index: 5;
            height: 30px;
            width: 30px;
            top: calc(89vh - 110px);
            opacity: 0.5;
            display: none;
            &.active {
                display: block;
            }
            @media (min-width: 769px){
                display: none;
            }
        }
        .iconExpand_third {
            position: absolute;
            z-index: 5;
            height: 50px;
            width: 50px;
            top: calc(91vh - 110px);
            opacity: 0.5;
            display: none;
            &.active {
                display: block;
            }
            @media (min-width: 769px){
                display: none;
            }
        }
    }
    .iconBarVolume{
        position: absolute;
        z-index: 5;
        top: calc(90vh - 120px);
        @media (min-width: 769px){
            top: calc(95vh - 120px);       
            right: 100px;     
        }            
        .iconPause {
            height: 40px;
            width: 40px;
            margin-right: 15px;
            opacity: 0.5;       
            @media (min-width: 769px){
                display: none;
                margin-right: 0px;                
            }     
        }
        .iconVolume {
            height: 40px;
            width: 40x;
            opacity: 0.5;            
        }
    }
}

.container_next_events{
    margin: 0 auto;
    @media (min-width: 1025px){
        padding: 0;
        max-width: 1025px;
    }
    .title_container {
        padding-left: 0;
        margin: 30px 0;
        @media (min-width: 769px){
            padding-left: 20px;
        }
        @media (min-width: 1025px){
            padding-left: 0;
        }
        .title{
            font-size: 30px;
            text-align: center;
            font-weight: bold;
            line-height: 1;
            @media (min-width: 426px){
                font-size: 45px;
            }
            @media (min-width: 769px){
                font-size: 60px;
                text-align: left;
            }
        }
    }
}

.container_dj{
    margin: 0 auto;
    margin-bottom: 80px;
    @media (min-width: 1025px){
        padding: 0;
        max-width: 1024px;
    }
    .title_container {
        padding-left: 0;
        margin: 30px 0;
        @media (min-width: 769px){
            padding-left: 20px;
        }
        @media (min-width: 1025px){
            padding-left: 0;
        }
        .title{
            font-size: 30px;
            text-align: center;
            font-weight: bold;
            line-height: 1;
            @media (min-width: 426px){
                font-size: 45px;
            }
            @media (min-width: 769px){
                font-size: 60px;
                text-align: left;
            }
        }
    }
    .container_grid {
        display: flex;
        height: 100%;
        flex-direction: column;
        @media (min-width: 769px){
            flex-direction: row;
            padding-top: 10px;
        }
        @media (min-width: 1025px){
            max-width: 1024px;
        }
        .description {
            padding: 20px 10px 20px 10px;
            font-size: 14px;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: justify;
            @media (min-width: 426px){
                font-size: 16px;
            }
            @media (min-width: 769px){
                width: 50%;
                padding: 0px 20px 0px 0px;
            }
            span {
                color: #1c8fc7;
                font-weight: bold;
            }
        }   
        .photo_container {
            @media (min-width: 769px){
                width: 50%;
            }
            img {
                width: 100%;
            }
            div:empty {
                display: none;
            }
            div {
                @media (min-width: 769px){
                    height: 100%;
                }
                height: 300px;
            }
        }
    }
}