@import '../../../../styles/base.css';

.container {
}

.container_full_screen {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
    /*min-height: calc(100vh - 54px);*/
    min-height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    video { 
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    .container_play {
        display: flex;
        justify-content: center;
        align-items: center;
        .iconLogo {
            position: absolute;
            top: calc(50vh - 212px);
            z-index: 1;
            img {
                height: 300px;
                filter:  grayscale(1);
                filter: opacity(.1);
                transition-property: filter;
                transition-duration: 1s;            
            }
            @media (min-width: 769px){
                display: none;
            }
        }
        .iconPlay {
            position: absolute;
            z-index: 5;
            height: 120px;
            width: 120px;
            top: calc(50vh - 75px);
            opacity: 0.5;
            fill: white;
            :hover {
                fill: var(--main-color);
            }    
            @media (min-width: 769px){
                display: none;
            }
        }
        .iconExpand {
            position: absolute;
            z-index: 5;
            height: 15px;
            width: 15px;
            top: calc(87vh - 60px);
            opacity: 0.5;
            fill: white;
            &.active {
                display: block;
            }
            @media (min-width: 769px){
                display: none !important;
            }
        }
        .iconExpand_second {
            position: absolute;
            z-index: 5;
            height: 30px;
            width: 30px;
            top: calc(89vh - 60px);
            opacity: 0.5;
            fill: white;
            &.active {
                display: block;
            }
            @media (min-width: 769px){
                display: none !important;
            }
        }
        .iconExpand_third {
            position: absolute;
            z-index: 5;
            height: 50px;
            width: 50px;
            top: calc(91vh - 60px);
            opacity: 0.5;
            fill: white;
            &.active {
                display: block;
            }
            @media (min-width: 769px){
                display: none !important;
            }
        }
    }
    .iconBarVolume{
        position: absolute;
        z-index: 5;
        top: calc(90vh - 70px);
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
        @media (min-width: 769px){
            top: calc(95vh - 120px);       
            right: 100px;     
        }            
        .iconPause {
            height: 40px;
            width: 40px;
            margin-right: 15px;
            opacity: 0.5;
            fill: white;
            :hover {
                fill: var(--main-color);
            }
            @media (min-width: 769px){
                height: 30px;
                width: 30px;
                display: none;
                margin-right: 0px;                
            }     
        }
        .iconVolume {
            height: 30px;
            width: 30px;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;
            opacity: 0.5;
            fill: white;                
            :hover {
                fill: var(--main-color);
            }
        }
    }
}

.container_full_screen_not_only {
    min-height: calc(100vh) !important;
}


.container_main_event{
    margin-bottom: 80px;
    margin-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    @media (min-width: 426px){
        padding: 0;
    }
    @media (min-width: 769px){
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 30px;
        margin-right: 30px;
    } 
    .container_next_events{
        margin: 0 auto;
        @media (min-width: 1025px){
            padding: 0;
            max-width: 1025px;
        }
        .title_container {
            padding-left: 0;
            margin: 30px 0;
            .title{
                font-size: 30px;
                text-align: center;
                font-weight: bold;
                line-height: 1;
                @media (min-width: 426px){
                    font-size: 45px;
                }
                @media (min-width: 769px){
                    font-size: 60px;
                    text-align: left;
                }
            }
        }
    }
}

.container_dj{
    margin: 0 auto;
    margin-bottom: 80px;
    @media (min-width: 1025px){
        padding: 0;
        max-width: 1024px;
    }
    .title_container {
        padding-left: 0;
        margin: 30px 0;
        @media (min-width: 769px){
            padding-left: 20px;
        }
        @media (min-width: 1025px){
            padding-left: 0;
        }
        .title{
            font-size: 30px;
            text-align: center;
            font-weight: bold;
            line-height: 1;
            @media (min-width: 426px){
                font-size: 45px;
            }
            @media (min-width: 769px){
                font-size: 60px;
                text-align: left;
            }
        }
    }
    .container_grid {
        display: flex;
        height: 100%;
        flex-direction: column;
        @media (min-width: 769px){
            flex-direction: row;
            padding-top: 10px;
        }
        @media (min-width: 1025px){
            max-width: 1024px;
        }
        .description {
            padding: 20px 10px 20px 10px;
            font-size: 14px;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: justify;
            justify-content: center;
            text-align: center;
            @media (min-width: 426px){
                font-size: 16px;
            }
            @media (min-width: 769px){
                width: 50%;
                height: 520px;
                padding: 0px 20px 0px 0px;
            }
            span {
                color: var(--main-color);
                font-weight: bold;
            }
        }   
        .photo_container {
            width: 100%;
            height: 400px;
            box-shadow: 2px 2px 5px black;
            @media (min-width: 769px){
                width: 50%;
                height: unset;
            }
            .icon_container {
                position: absolute;
                left: -20px;
                top: -50px;
                .iconSVG {
                    fill: var(--main-color) !important;
                    width: 50px;
                }
            }
        }
    }
}

.container_main_feed {
    margin-bottom: 80px;
    margin-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    @media (min-width: 426px){
        padding: 0;
    }
    @media (min-width: 769px){
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 30px;
        margin-right: 30px;
    } 
    .container_feed{
        margin: 0 auto;
        @media (min-width: 1025px){
            padding: 0;
            max-width: 1025px;
        }
        .title_container {
            padding-left: 0;
            margin: 30px 0;
            .title{
                font-size: 30px;
                text-align: center;
                font-weight: bold;
                line-height: 1;
                @media (min-width: 426px){
                    font-size: 45px;
                }
                @media (min-width: 769px){
                    font-size: 60px;
                    text-align: left;
                }
            }
        }
    }
}
