@import '../../../../styles/base.css';

.container {
}

.container_nextEvent {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    margin-top: 100px;
    padding: 0 10px;
    @media (min-width: 1024px){
        padding: 0;
    }
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--main-color);
        @media (min-width: 1024px){
            justify-content: left;
        }
    }
    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @media (min-width: 1024px){
            flex-direction: row;
        }
        .degradatedBrackground {
          position: relative;
          display: flex;
          width: 100%;
          transform: scale(1);
          transition: all 1s;
          cursor: pointer;
          &:hover {
            @media (min-width: 1024px){
              transform: scale(1.1);
              transition: all 1s;
              &::before {
                display: none;
              }
            }
          }
          &::before {
            @media (min-width: 1024px){
                background: linear-gradient(180deg,rgba(0,0,0,0.6) 0,rgba(0,0,0,.4) 10%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.2) 70%,rgba(0,0,0,.4) 90%,rgba(0,0,0,.6) 100%);
                width: 100%;
                position: absolute;
                height: 100%;
                content: "";
                z-index: 2;
            }
          } 
        }
        .imageEvent {
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        .description {
            padding: 20px 10px 0;
            @media (min-width: 768px){
                padding: 20px 80px 0;
            }
            @media (min-width: 1024px){
                padding: 0;
                margin-left: 80px;
                max-width: 40%;
            }
            .title {
                margin-bottom: 10px;
            }
        }
    }
}

.container_whoAre {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 100px;
    background-color: #04000e;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    .imagePoster {
        width: 35%;
        height: 35%;
    }
    .container_concept {
        color: #7d36d4;
        position: relative;
        width: 100%;
        height: 100%;
        @media (min-width: 768px){
            position: absolute;
            max-width: 1900px;
        }
        div {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            @media (min-width: 768px){
                margin: 0;
            }
        }
        @media (min-width: 768px){
            div:first-child {
                position: absolute;
                top: 25%;
                left: 20%;
            }
            div:nth-child(2) {
                position: absolute;
                top: 50%;
                left: 15%;
            }
            div:nth-child(3) {
                position: absolute;
                top: 75%;
                left: 20%;
            }
            div:nth-child(4) {
                position: absolute;
                top: 25%;
                right: 20%;
            }
            div:nth-child(5) {
                position: absolute;
                top: 50%;
                right: 15%;
            }
            div:nth-child(6) {
                position: absolute;
                top: 75%;
                right: 20%;
            }
        }
        @media (min-width: 1440px){
            div:first-child {
                position: absolute;
                top: 25%;
                left: 23%;
            }
            div:nth-child(2) {
                position: absolute;
                top: 50%;
                left: 20%;
            }
            div:nth-child(3) {
                position: absolute;
                top: 75%;
                left: 23%;
            }
            div:nth-child(4) {
                position: absolute;
                top: 25%;
                right: 23%;
            }
            div:nth-child(5) {
                position: absolute;
                top: 50%;
                right: 20%;
            }
            div:nth-child(6) {
                position: absolute;
                top: 75%;
                right: 23%;
            }
        }
    }
}

.container_full_screen {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
    min-height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    video { 
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    .container_play {
        display: flex;
        justify-content: center;
        align-items: center;
        .iconLogo {
            position: absolute;
            top: calc(50vh - 212px);
            z-index: 1;
            img {
                height: 300px;
                filter:  grayscale(1);
                filter: opacity(.1);
                transition-property: filter;
                transition-duration: 1s;            
            }
            @media (min-width: 769px){
                display: none;
            }
        }
        .iconPlay {
            position: absolute;
            z-index: 5;
            height: 120px;
            width: 120px;
            top: calc(50vh - 75px);
            opacity: 0.5;
            fill: white;
            :hover {
                fill: var(--main-color);
            }    
            @media (min-width: 769px){
                display: none;
            }
        }
        .iconExpand {
            position: absolute;
            z-index: 5;
            height: 15px;
            width: 15px;
            top: calc(87vh - 60px);
            opacity: 0.5;
            fill: white;
            display: none;
            &.active {
                display: block;
            }
            @media (min-width: 769px){
                display: none !important;
            }
        }
        .iconExpand_second {
            position: absolute;
            z-index: 5;
            height: 30px;
            width: 30px;
            top: calc(89vh - 60px);
            opacity: 0.5;
            fill: white;
            display: none;
            &.active {
                display: block;
            }
            @media (min-width: 769px){
                display: none !important;
            }
        }
        .iconExpand_third {
            position: absolute;
            z-index: 5;
            height: 50px;
            width: 50px;
            top: calc(91vh - 60px);
            opacity: 0.5;
            fill: white;
            display: none;
            &.active {
                display: block;
            }
            @media (min-width: 769px){
                display: none !important;
            }
        }
    }
    .iconBarVolume{
        position: absolute;
        z-index: 5;
        top: calc(90vh - 70px);
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
        @media (min-width: 769px){
            top: calc(95vh - 120px);       
            right: 100px;     
        }            
        .iconPause {
            height: 35px;
            width: 35px;
            margin-right: 15px;
            opacity: 0.5;
            fill: white;
            :hover {
                fill: var(--main-color);
            }
            @media (min-width: 769px){
                height: 30px;
                width: 30px;
                display: none;
                margin-right: 0px;                
            }     
        }
        .iconVolume {
            height: 35px;
            width: 35px;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;
            opacity: 0.5;
            fill: white;                
            :hover {
                fill: var(--main-color);
            }
        }
    }
}

.container_main_feed {
    margin: 120px 0 80px 0;
    padding: 0 10px;
    @media (min-width: 1024px){
        padding: 0;
    } 
    .container_feed{
        margin: 0 auto;
        @media (min-width: 1024px){
            padding: 0;
            max-width: 1024px;
        }
        .title {
            display: flex;
            justify-content: center;
            @media (min-width: 1024px){
                justify-content: left;
            }
        }
    }
}
