@import '../../styles/base.css';

.contanier_cookieInfo {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: black;
    span {
        padding: 10px 10px;
    }
    .container {
        max-width: 1024px;
        margin: 0 auto;
        color: white;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; 
        line-height: 18px;
    }
    .moreInfo {
        text-decoration: none;
        font-weight: bold;
        color: gray;
        cursor: pointer;
        margin-left: 10px;
    }
    .accept {
        border-radius: 25px;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;                        
        color: white;
        background-color: var(--main-color);
        cursor: pointer;
        width: 70px;
        text-align: center;
    }
    .cancel {
        color: var(--main-color);
        font-weight: bold;
        cursor: pointer;
        margin-right: 50px;
    }
}