.container_working {
    height: calc(100vh - 54px);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .text {
        color: white;
        font-size: 45px;
    }
    img {
        max-width: 450px;
        max-height: 350px;
    }
}