@import '../../../../styles/base.css';

.container_footer {
    height: 120px;
    z-index: 3;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-top: solid 0.1px var(--main-color);
    .footer_bar {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1024px;
        margin-top: 5px;
        margin-bottom: 5px;
        .container_menu {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            @media (min-width: 769px){
                flex: 1;                
            }
            a {
                text-decoration: none;
                color: white;
                font-size: 20px;
                outline: none;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                -webkit-tap-highlight-color: transparent;
                &.active {
                    -webkit-text-stroke-width: 0.5px;
                    -webkit-text-stroke-color: var(--main-color);
                }
                &:not(:first-child) {
                    margin-left: 10px;
                    @media (min-width: 376px){         
                        margin-left: 20px;                    
                    }           
                    &::before { 
                        content: "|";
                        padding-right: 10px;                  
                        color: white;  
                        -webkit-text-stroke-width: 0px;
                        @media (min-width: 376px){         
                            padding-right: 20px;
                        }    
                    }
                }
                &:hover{
                    -webkit-text-stroke-width: 0.5px;
                    -webkit-text-stroke-color: white;
                    color: var(--main-color);
                }
            }
        }
        .social_networks {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            margin-top: 10px;
            margin-right: 10px;
            justify-content: center; 
            @media (min-width: 769px){
                display: none;
            }
            :not(:first-child) {
                margin-left: 20px;  
            }
            .icon_social {
                width: 30px;
                height: 30px;
                fill: white;
                &.first {
                    @media (min-width: 769px){    
                        margin-left: 40px;
                    }
                }
                &:hover {
                    fill: var(--main-color);
                }
                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .container_logos {
        display: flex;
        align-items: center;
        height: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
        @media (min-width: 769px){
            margin-top: 0px;
        }
        a {
            max-width: 120px;
            margin-top: 5px;
            margin-left: 2px;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;
            &:hover {
                opacity: 0.7;
            }
            img{
                height: 100%;
                width: 100%;
                margin-top: 5px;
            }
        }
    }
}