@import '../../../../styles/base.css';

.container {
    margin: 0 auto;
    min-height: calc(100vh - 91px);
    @media (min-width: 1024px){
        padding: 0;
        max-width: 1024px;
        min-height: calc(100vh - 41px);
    }
    .container_live{
        display: flex;
        justify-content: center;
    }
    .container_live_chat{
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 1024px){
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            .chat {
                margin-top: 14px;
            }
        }
    }
    .live {
        width: 100vw;
        max-width: 560px;
        height: 315px;
    }
    .chat {
        display: none;
        @media (min-width: 1024px){
            display: block;
            width: 100vw;
            max-width: 560px;
            height: 560px;
        }
    }
    .notAvailable {
        display: flex;
        justify-content: center;
    }
    .disclaimer {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 50px;
        p {
            margin: 0;
        }
        a {
            color: #7d36d4;
        }
    }

    .containerCountdown {
        margin: 0 auto;
        text-align: center;
    }

    ul {
        padding-left: 0;
    }

    li {
        display: inline-block;
        font-size: 1.5em;
        list-style-type: none;
        padding: 1em;
        text-transform: uppercase;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #FD43FE;
    }
    
    li span {
        display: block;
        font-size: 4.5rem;
    }    
    
    @media all and (max-width: 768px) {
        li {
            font-size: 1.125rem;
            padding: .75rem;
        }
        
        li span {
            font-size: 3.375rem;
        }
    }
}

.titleMain {
    padding-top: 156px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    @media (min-width: 1024px){
        justify-content: left;
    }
}